  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        故障记录
        <small>advanced tables</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">故障列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>标题</th>
                  <th>更新时间</th>
                  <th>故障详情</th>
                  <th>操作</th>

                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="/a/operation/operationFault/form?id=f15681ac4c1b4aa2adac66e489733a49">
                      电信出口光缆被挖断
                    </a></td>
                    <td>
                      2016-04-11 10:53:09
                    </td>
                    <td>
                      电信出口光缆被挖断
                    </td>
                    <td>
                        <a href="/a/operation/operationFault/form?id=f15681ac4c1b4aa2adac66e489733a49">修改</a>
                      <a href="/a/operation/operationFault/delete?id=f15681ac4c1b4aa2adac66e489733a49" onclick="return confirmx('确认要删除该运维故障记录吗？', this.href)">删除</a>
                    </td>
                  </tr>

                  <tr>
                    <td><a href="/a/operation/operationFault/form?id=f15ed7f6936c456e9d06d877c2ce29e3">
                      铱讯流量缓存网页不能访问
                    </a></td>
                    <td>
                      2016-04-06 10:27:33
                    </td>
                    <td>
                      管理页面不能打开
                    </td>
                    
                    <td>
                        <a href="/a/operation/operationFault/form?id=f15ed7f6936c456e9d06d877c2ce29e3">修改</a>
                      <a href="/a/operation/operationFault/delete?id=f15ed7f6936c456e9d06d877c2ce29e3" onclick="return confirmx('确认要删除该运维故障记录吗？', this.href)">删除</a>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/a/operation/operationBigevent/form?id=cca5f4ef6ab048769904a46002954156">
                      服务外包运维培训工作展开
                    </a></td>
                    <td>
                      2016-04-06 14:23:37
                    </td>
                    <td>
                      组织网络部成员与运维团队一起参加运维工作培训
                    </td>
                    <td>
                        <a href="/a/operation/operationBigevent/form?id=cca5f4ef6ab048769904a46002954156">修改</a>
                      <a href="/a/operation/operationBigevent/delete?id=cca5f4ef6ab048769904a46002954156" onclick="return confirmx('确认要删除该运维大事记吗？', this.href)">删除</a>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="/a/operation/operationBigevent/form?id=163829e7ac7f4ef4b68ce6abd6b382d1">
                      综合网络管理平台上线测试
                    </a></td>
                    <td>
                      2016-04-06 10:23:33
                    </td>
                    <td>
                      综合网络管理平台历经一个月的开发，部分功能可以上线试用了。
                    </td>
                    <td>
                        <a href="/a/operation/operationBigevent/form?id=163829e7ac7f4ef4b68ce6abd6b382d1">修改</a>
                      <a href="/a/operation/operationBigevent/delete?id=163829e7ac7f4ef4b68ce6abd6b382d1" onclick="return confirmx('确认要删除该运维大事记吗？', this.href)">删除</a>
                    </td>
                  </tr>
                </tbody>
<!--                 <tfoot>
                <tr>
                 <th>标题</th>
                  <th>更新时间</th>
                  <th>故障详情</th>
                  <th>操作</th>

                </tr>
                </tfoot> -->
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
  </div>
