  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="height=100%">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        请假
        <small>it all starts here</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">Blank page</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">请假申请</h3>


        </div>
        <div class="box-body">
      <div class="container">
  <div class="row">
            <div class="form-group">
                  <label class="">请假类型</label>
                  <select name="" id="" class="form-control col-md-9">
                    <option value="">公休</option>
                    <option value="">病假</option>
                    <option value="">事假</option>
                    <option value="">调休</option>
                    <option value="">婚假</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>开始时间</label>
                  <input class="form-control" rows="3" placeholder=""></input>
                </div>
                <div class="form-group">
                  <label>结束时间</label>
                  <input class="form-control" rows="3" placeholder=""></input>
                </div>
                <div class="form-group">
                  <label>请假原因</label>
                  <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                </div>
                <input type="text" class="btn btn-block btn-primary" value="提交">
  </div>
</div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Footer
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
